# Ignore Storybook build output
.storybook-static/

# Ignore node_modules directory
node_modules/

# Ignore build artifacts
/build/
/dist/
/out/

# Ignore npm logs
npm-debug.log
yarn-error.log

# Ignore any temporary files
*.swp
.DS_Store

# Ignore the Storybook cache directory
.cache/

# Ignore dependency lock files
yarn.lock
package-lock.json
