# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Output of 'npm install'
package-lock.json

# Output of 'yarn add'
yarn-error.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS-specific files
Thumbs.db
.DS_Store
ehthumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Build directories
/dist/
/lib/
/out/
/build/

# Ignore all files in the root except specified ones
/*
!/dist/
!/src/
